@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 142 76% 36%;
    --primary-foreground: 0 0% 100%;

    --secondary: 120 16% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 120 30% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 142 76% 36%;

    --radius: 0.5rem;

    --sidebar-background: 120 30% 96%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 142 76% 36%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 120 16% 90%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 120 16% 80%;
    --sidebar-ring: 142 76% 36%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 120 6% 80%;

    --card: 20 14% 8%;
    --card-foreground: 120 6% 90%;

    --popover: 20 14% 4%;
    --popover-foreground: 120 6% 80%;

    --primary: 142 76% 36%;
    --primary-foreground: 0 0% 100%;

    --secondary: 120 6% 15%;
    --secondary-foreground: 120 6% 90%;

    --muted: 120 6% 15%;
    --muted-foreground: 120 6% 65%;

    --accent: 120 6% 15%;
    --accent-foreground: 120 6% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 120 6% 15%;
    --input: 120 6% 15%;
    --ring: 142 76% 36%;

    --sidebar-background: 20 14% 8%;
    --sidebar-foreground: 120 6% 90%;
    --sidebar-primary: 142 76% 36%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 120 6% 15%;
    --sidebar-accent-foreground: 120 6% 90%;
    --sidebar-border: 120 6% 25%;
    --sidebar-ring: 142 76% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}